<mat-toolbar color="primary" class="demo-app-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <span>Logictech－Angular Material Demo</span>
  <span class="toolbar-seprator"></span>

  <button mat-icon-button [matMenuTriggerFor]="messageMenu" #menuTrigger="matMenuTrigger">
    <mat-icon>message</mat-icon>
  </button>
  <mat-menu #messageMenu="matMenu">
    <button mat-menu-item>最新訊息</button>
    <button mat-menu-item>訊息設定</button>
  </mat-menu>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container fullscreen class="demo-app-container sidenav-container">
  <mat-sidenav class="demo-app-sidenav" #sideNav mode="push" (opened)="opened()" (closed)="closed()">
    <mat-nav-list>
      <h3 matSubheader>示范页面</h3>
      <a [routerLink]="['/', 'admin', 'component', 'button']" mat-list-item>按钮</a>
      <a [routerLink]="['/', 'admin', 'component', 'card']" mat-list-item>卡片</a>
      <a [routerLink]="['/']" mat-list-item>页面二</a>
      <a [routerLink]="['/']" mat-list-item>页面三</a>
      <!-- 另外一組選單 -->
      <mat-divider></mat-divider>
      <h3 matSubheader>其他页面</h3>
      <a [routerLink]="['/']" mat-list-item>首页</a>
      <a [routerLink]="['/']" mat-list-item>Google</a>
      <a [routerLink]="['/']" mat-list-item>Facebook</a>

      <mat-divider></mat-divider>
      <mat-list-item>
        <p matLine>床前明月光</p>
        <p matLine>疑是地上霜</p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>巨头王明月</p>
        <p matLine>地头蛇共享</p>
      </mat-list-item>

      <mat-divider></mat-divider>
      <h3 matSubheader>好友訊息</h3>
      <mat-list-item>
        <img matListAvatar src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Lin_Chi-Ling_%28cropped%29.jpg" />
        <p matLine>志玲</p>
        <p matLine>hi，好久不見，最近好嗎？</p>
        <!-- button會自動被推到最後面 -->
        <button mat-icon-button>
          <mat-icon>chat</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <!-- 即使icon button放在前面，還是會被往後推 -->
        <button mat-icon-button>
          <mat-icon>chat</mat-icon>
        </button>
        <img matListAvatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/2008TIBE_Day4_Hall1_Cit%C3%A9Group_TheyKissAgain_SigningEvent_Ariel_Yi-cheng_Lin.jpg/440px-2008TIBE_Day4_Hall1_Cit%C3%A9Group_TheyKissAgain_SigningEvent_Ariel_Yi-cheng_Lin.jpg"
        />
        <p matLine>依晨</p>
        <p matLine>找時間吃個飯吧？</p>
      </mat-list-item>


      <mat-divider></mat-divider>
      <h3 matSubheader>
        <mat-icon>chat_bubble</mat-icon>
        新訊息
      </h3>
      <mat-list-item *ngIf="optNew.selected">这是新消息</mat-list-item>
      <mat-list-item *ngIf="optAds.selected">这是广告信息</mat-list-item>

      <mat-divider></mat-divider>
      <h3 matSubheader>
        <mat-icon>settings</mat-icon>
        消息设置
      </h3>
      <mat-selection-list>
        <mat-list-option [value]="1" selected="true" #optNew>有新消息通知我</mat-list-option>
        <mat-list-option [value]="2" #optAds>显示广告信息</mat-list-option>
      </mat-selection-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav #sideNavEnd mode="side" position="end">
    <div>右边菜单</div>
  </mat-sidenav>

  <mat-sidenav-content style="margin: 20px;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
